# Base URL da API backend (produção/homolog)
NEXT_PUBLIC_API_URL=https://api.example.com

# URL da API de CEP (homolog)
NEXT_PUBLIC_CEP_API_URL=https://h-apigateway.conectagov.np.estaleiro.serpro.gov.br/api-cep/v1

# Outros exemplos
# NEXT_PUBLIC_SENTRY_DSN=
# VITE_CUSTOM_FLAG=true
